@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page - ASP.NET Core";
}

<div class="main-container">
    <div class="cloud-image">
        <img src="~/images/successCloudNew.svg" />
    </div>
    <div class="content">
        <div class="tweet-container">
                <img src="~/images/successCloudNew.svg" />

        </div>
        <div class="content-body">
            <div class="success-text">Success!</div>
            <div class="description line-1"> GitHub Workflow</div>
            <div class="description line-2"> NewAdmin Page</div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Continuous Delivery</h2>
        <p>View your GitHub workflow and customize it as per your needs</p>
        <p><a class="btn btn-default" href="https://docs.github.com/en/actions">Learn more &raquo;</a></p>
    </div>
</div>

