@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page - ASP.NET Core";
}

<div class="main-container">
    <div class="cloud-image rounded">
        <img src="~/images/successCloudNew.svg" />
    </div>
    <div class="content">
        <div class="content-body">
            <div class="success-text">Success!</div>
            <div class="description line-1"> CI/CD Setup</div>
            <div class="description line-2"> NewAdmin Page</div>
        </div>
    </div>
</div>

<div class="row align-content-center">

    <div class="col-md-4">
        <h2>Continuous Delivery</h2>
        <p>View your GitHub workflow and customize it as per your needs</p>
        <p>Learn more &raquo;</p>
    </div>
    <div class="col-md-4">
        <h2>Continuous Deployment</h2>
        <p>View your GitHub workflow and customize it as per your needs</p>
        <p>Learn more &raquo;</p>
    </div>
</div>

